<% const data = {
    title: 'Новости',
    'flowContainerClass' : 'flow-container--main'
} %>

<%- require("../layouts/header.ejs")(data) %>

    <section class="section-head">
        <div class="container">
            <%- require('../components/elements/breadcrumbs.ejs')(data)%>
            <div class="section-head__title">
                <h1 class="h1">Новости</h1>
                <a href="#" class="h1 section-head__link">Мероприятия</a>
            </div>
        </div>
    </section>

    <div class="section-news">
        <div class="container">
            <div class="news">
                <div class="news-list">
                    <%
                        const listEvents = [
                            { date: '28.03', img: './images/content/slider-events-img-1.jpg', title: 'Виртуальная экскурсия с Porselanosa Grupo', },
                            { date: '28.03', img: './images/content/slider-events-img-2.jpg', title: 'Про душевой дизайн с Radaway', },
                            { date: '28.03', img: './images/content/slider-events-img-1.jpg', title: 'Сочные новинки от Noken 2021', },
                            { date: '28.03', img: './images/content/slider-events-img-2.jpg', title: 'Сочные новинки от Noken 2021', },

                            { date: '28.03', img: './images/content/slider-events-img-1.jpg', title: 'Виртуальная экскурсия с Porselanosa Grupo', },
                            { date: '28.03', img: './images/content/slider-events-img-2.jpg', title: 'Про душевой дизайн с Radaway', },
                            { date: '28.03', img: './images/content/slider-events-img-1.jpg', title: 'Сочные новинки от Noken 2021', },
                            { date: '28.03', img: './images/content/slider-events-img-2.jpg', title: 'Сочные новинки от Noken 2021', },

                            { date: '28.03', img: './images/content/slider-events-img-1.jpg', title: 'Виртуальная экскурсия с Porselanosa Grupo', },
                            { date: '28.03', img: './images/content/slider-events-img-2.jpg', title: 'Про душевой дизайн с Radaway', },
                            { date: '28.03', img: './images/content/slider-events-img-1.jpg', title: 'Сочные новинки от Noken 2021', },
                            { date: '28.03', img: './images/content/slider-events-img-2.jpg', title: 'Сочные новинки от Noken 2021', },
                        ]

                    listEvents.forEach(function (item) { %>
                        <div class="events-card">
                            <a href="#" class="events-card__link">
                                <div class="events-card-content">
                                    <picture class="events-card__picture">
                                        <img src="<%= item.img %>" alt="" class="events-card__image">
                                    </picture>
                                    <div class="events-card__label">
                                        <div class="events-card-date">
                                            <div class="events-card-date__col">11</div>
                                            <div class="events-card-date__col">
                                                <span>декабря</span>
                                                <span>2020</span>
                                            </div>
                                        </div>
                                        <div class="events-card-info">
                                            <div class="events-card__title"><%= item.title %></div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <% }) %>
                </div>
                <%- require("../components/elements/pagination.ejs")() %>
            </div>
        </div>
    </div>

<%- require("../layouts/footer.ejs")() %>