<div class="personal-favorites">
    <div class="catalog">
        <div class="catalog__list">
            <% const list=[
                { item: '3', name: 'Плитка Mirage-Image', img: 'catalog-item-img-1.jpg', price: '400 руб.',                             sale: false, },
                { item: '3', name: 'Керамогранит Austin', img: 'catalog-item-img-2.jpg', price: '48 000 руб.',                          sale: true, },
                { item: '3', name: 'Керамогранит Austin', img: 'catalog-item-img-3.jpg', price: '48 000 руб.',                          sale: false, },

                { item: '3', name: 'Отдельно стоящая ванна Manhattan Par-Ker', img: 'catalog-item-img-4.jpg', price: '765 899 руб.',    sale: false, },
                { item: '3', name: 'Плитка Mirage-Image', img: 'catalog-item-img-1.jpg', price: '400 руб.',                             sale: false, },
                { item: '3', name: 'Керамогранит Austin', img: 'catalog-item-img-2.jpg', price: '48 000 руб.',                          sale: false, },

                { item: '3', name: 'Керамогранит Austin', img: 'catalog-item-img-2.jpg', price: '48 000 руб.',                          sale: false, },
                { item: '3', name: 'Керамогранит Austin', img: 'catalog-item-img-3.jpg', price: '48 000 руб.',                          sale: false, },
                { item: '3', name: 'Отдельно стоящая ванна Manhattan Par-Ker', img: 'catalog-item-img-4.jpg', price: '765 899 руб.',    sale: false, },

                { item: '3', name: 'Отдельно стоящая ванна Manhattan Par-Ker', img: 'catalog-item-img-4.jpg', price: '765 899 руб.',    sale: false, },
                { item: '3', name: 'Плитка Mirage-Image', img: 'catalog-item-img-1.jpg', price: '400 руб.',                             sale: false, },
                { item: '3', name: 'Керамогранит Austin', img: 'catalog-item-img-2.jpg', price: '48 000 руб.',                          sale: false, },
            ] %>

            <% list.forEach(function (item) { %>
                <div class="catalog__item <%= item.item ? 'catalog__item--' + item.item : '' %>">
                    <div class="catalog-item" data-catalog-list-item>
                        <div class="catalog-item__inner" >
                            <button class="catalog-item__remove"></button>
                            <div class="catalog-item__head">
                                <a href="#" class="catalog-item__link-picture" >
                                    <picture class="catalog-item__picture">
                                        <img src="./images/content/<%= item.img %>" alt="" class="catalog-item__img">
                                    </picture>
                                </a>
                            </div>
                            <div class="catalog-item__body">
                                <a href="#" class="catalog-item__link">
                                    <div class="catalog-item__name"><%= item.name %></div>
                                </a>
                                <%- require("../elements/price.ejs")({ sale: item.sale, priceValue: item.price, }) %>
                                <div class="catalog-item__features">
                                    <div class="features">
                                        <div class="features__list">
                                            <div class="features__item">120 х 250 см</div>
                                            <div class="features__item">Коллекция VENIS</div>
                                            <div class="features__item">Под заказ</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="catalog-item__foot">
                                <a href="#" class="btn btn--gold">Добавить в корзину</a>
                            </div>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    <%- require("../elements/pagination.ejs")() %>
</div>